@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;600;700&family=Raleway:wght@300;400&display=swap");

//MOBILE

main {
	.home-main-photo {
		height: 50vh;
		.home-background {
			width: 100%;
			height: 100%;
		}
	}
	.main-text-container {
		margin: 20px auto;
		border: 1px solid black;
		display: flex;
		align-items: center;
		width: 80%;
		.img-logo-container {
			width: 30%;
			text-align: center;
			.main-logo {
				width: 65px;
			}
		}
		.main-text {
			width: 70%;
			font-family: "Caveat", cursive;
			font-weight: 700;
			font-size: 20px;
		}
	}
	.categories-container {
		display: none;
	}
	.categories-container-mobile {
		height: auto;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		text-align: center;
		margin-bottom: 40px;
		.category-text {
			text-decoration: underline;
			margin: 10px 0px;
		}
		.category-img-container {
			width: 100%;
			height: 120px;
			.category-img {
				border-radius: 10px;
				width: 90%;
				height: 100%;
			}
		}
	}
	.main-news-section {
		display: none;
	}
}

//PC

@media only screen and (min-width: 1024px) {
	main {
		.home-main-photo {
			height: 80vh;
			.home-background {
				width: 100%;
				height: 100%;
			}
		}
		.main-text-container {
			display: flex;
			margin: 80px auto;
			border: 1px solid black;
			width: 30%;
			padding: 30px 50px;
			align-items: center;
			.main-text {
				padding-left: 5px;
				font-family: "Caveat", cursive;
				font-weight: 700;
				font-size: 25px;
			}
			.img-logo-container {
				height: 38px;
				padding: 2px;
				border: 1px solid black;
				.main-logo {
					width: 58px;
					padding: 2px;
					border: 1px solid black;
				}
			}
		}
		.categories-container-mobile {
			display: none;
		}
		.categories-container {
			border: 2px solid black;
			border-radius: 10px;
			padding: 10px;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 10px;
			width: 85%;
			margin: 100px auto;
			//grid-auto-rows: minmax(100px, auto);
			.category-img-container {
				position: relative;
				border: 1px solid black;
				border-radius: 10px;
				.category-img {
					height: 100%;
					width: 100%;
					border-radius: 10px;
				}

				.category-text {
					color: white;
					position: absolute;
					font-size: 25px;
					top: 10%;
					left: 10%;
					z-index: 100;
				}
			}
			.category-img-container:hover {
				transition: 0.2s;
				opacity: 0.75;
			}
			.one {
				grid-column: 1 / 2;
				grid-row: 1;
				height: 300px;
			}
			.two {
				grid-column: 2 / 3;
				grid-row: 1 / 4;
			}
			.three {
				grid-column: 1;
				grid-row: 2 / 5;
			}
			.four {
				height: 300px;
				grid-column: 2;
				grid-row: 4 / 4;
			}
		}

		//NEWS SECTION
		.main-news-section {
			display: block;
			height: 550px;
			//background-color: gray;
			.main-line-section {
				border-bottom: 1px solid gray;
				height: 1px;
				width: 60%;
				padding: 0;
				margin: 30px auto;
			}
			.main-news-text-container {
				height: 200px;
				.main-news-text {
					text-align: center;
					text-transform: uppercase;
					font-size: 30px;
					font-family: "Raleway", sans-serif;
					font-weight: lighter;
					margin-bottom: 50px;
				}
			}
		}
		.test {
			width: 70%;
			text-align: center;
			margin: auto;
			display: flex;
			.latest-products-map-container {
				width: 20%;
				border: 1px solid black;
				height: 300px;
				padding: 10px;
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				align-items: center;
				margin: 50px 3px;
				.latest-products-map-unit {
					height: 150px;
				}
				.latest-products-info-container {
					.latest-products-map-text {
						margin: auto;
						width: 90%;
					}
					.latest-products-map-price {
						margin: auto;
						width: fit-content;
						border-bottom: 1px solid black;
					}
				}
			}
		}
	}
}
